@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --mainColor: #231942;
    --scndColor: #e0b1cb;
    --trdColor:  #9f86c0;
    --hoverColor:#5e548e;

    --fontDestaque: 'Krona One', sans-serif;
    --fontConteudo: 'Montserrat', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--mainColor);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
    flex-direction: row;
}
.cabecalho__menu__link{
    color: var(--trdColor);
    font-family: var(--fontDestaque);
    font-size: 24px;
    font-weight: 600;
}
main{
    color: var(--scndColor);
}
main strong{
    color: var(--trdColor);
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fontDestaque);
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--fontConteudo);
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitle{
    font-family: var(--fontDestaque);
    font-weight: 400;
    font-style: 24px;
}
.apresentacao__links__links{
    padding: 16px;
    border: 2px solid var(--trdColor);
    border-radius: 8px;
    width: 378px;
    padding: 21.5px 0;
    color: var(--scndColor);
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: var(--fontConteudo);
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.apresentacao__links__links:hover{
    background-color: var(--hoverColor);
}
.rodape{
    color: var(--mainColor);
    background-color: var(--trdColor);
    padding: 24px;
    text-align: center;
    font-family: var(--fontConteudo);
    font-size: 24px;
}